* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.map {
  display: inline-block;
  height: 90vh;
  left: 25vw;
  position: fixed;
  top:5vh;
  width: 70vw;
}

.pano {
  height: 200px;
  width:300px;
}

.sidebar {
  background: whitesmoke;
  display: inline-block;
  height: 100vh;
  padding: 32px;
  position: fixed;
  top: 0;
  width: 20vw;
}
